<h1>Funerals</h1>
<%= month_calendar events: @funerals do |date, funerals| %>
  <%= link_to date.day, day_path(date), class:"btn btn-primary btn-xs" %>
  <div>
    <% funerals.each do |funeral| %>
      <small>&#10013;<%= funeral.start_time.strftime("%l%P") %> - <%= funeral.cat_name %></small>
      <br>
    <% end %>
  </div >
<% end %>
